.optimizedMobile
    padding: 55px 15px
    background-color: #2ed3ae
    .wrapper-optimized
        display: flex
        justify-content: space-between
        img
            max-width: 550px;
            max-height: 450px;
            @media screen and (max-width 900px)
                display: none
        .wrapper-infomation
            h1
                color: white
                font-family: 'Roboto'
                font-weight: 300
                font-size: 60px
                @media screen and (max-width 570px)
                    text-align: center
                    font-size: 32px
            .wrapper-info-wrapper
                display: flex
                flex-wrap: wrap;
                @media screen and (max-width 570px)
                    margin-top: 60px
                .info
                    display: flex
                    i
                        font-size: 40px
                        color: white
                    .wrapper-info-text
                        margin-left: 15px
                        h2
                            margin 0px
                            color white
                            font-family: 'Roboto'
                            font-weight: 300i
                            font-size: 25px
                        p
                            color white
                            font-family: 'Roboto'
                            font-weight: 100
                            font-size: 20px