@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import '../../components/Home/GetIt/style.styl'
@import '../../components/Home/StartHomeBlock/style.styl'    
@import '../../components/Home/Features/style.styl'
@import '../../components/Home/NicheTemplates/style.styl'
@import '../../components/Home/PreMadeLayouts/style.styl'
@import '../../components/Home/Advantages/style.styl'
@import '../../components/Home/OptimizedMobile/style.styl'
@import '../../components/Home/Technologes/style.styl'
@import '../../components/Home/BuyMonstroid/style.styl'
@import '../../components/Home/KeyFeatures/style.styl'

