.wrapper-get-it
    background-color: #2dd1ac
    padding: 45px 0
    display: flex
    align-items: center;
    justify-content: space-between
    .wrapper-text
        margin-left: 20px
        h3
            color white
            font-family: 'Roboto'
            font-size: 35px
        p
            color white
            font-family: 'Roboto'
            font-size: 20px
    .get-it
        background-color: white
        border:1px solid white
        border-radius: 3px
        color: #2dd1ac
        font-size: 18px
        font-family: 'Roboto'
        cursor pointer
        outline: none;
        transition: all 0.5s
        margin-right: 100px
        padding: 10px 30px
        height: 58px;
        &:hover
            background-color: transparent
            color: white