@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
.wrapper-get-it {
  background-color: #2dd1ac;
  padding: 60px 80px 60px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1100px) {
  .wrapper-get-it {
    flex-direction: column;
    justify-content: center;
    padding: 60px 20px;
  }
}
.wrapper-get-it .wrapper-text div {
  color: #fff;
  font-family: 'Roboto';
  font-size: 35px;
}
@media screen and (max-width: 1000px) {
  .wrapper-get-it .wrapper-text div {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.wrapper-get-it .wrapper-text p {
  color: #fff;
  font-family: 'Roboto';
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .wrapper-get-it .wrapper-text p {
    display: none;
  }
}
.wrapper-get-it .get-it {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  color: #2dd1ac;
  font-size: 18px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  padding: 10px 30px;
  height: 58px;
}
.wrapper-get-it .get-it:hover {
  background-color: transparent;
  color: #fff;
}
.startHomeBlock {
  height: 560px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://livedemo00.template-help.com/wt_62267_v7/landing/images/home-slider-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.startHomeBlock header {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
}
.startHomeBlock header .header-inner {
  background-color: transparent;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}
.startHomeBlock header .header-inner.color {
  background-color: #333;
  padding: 15px 15px;
}
.startHomeBlock header .header-inner .logo {
  max-width: 160px;
  height: auto;
  cursor: pointer;
}
.startHomeBlock header .header-inner .menu {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 900px) {
  .startHomeBlock header .header-inner .menu {
    display: none;
  }
}
.startHomeBlock header .header-inner .menu li {
  margin-right: 10px;
  color: #fff;
  font-family: 'Roboto';
  cursor: pointer;
  font-size: 15px;
  transition: all 0.5s;
}
.startHomeBlock header .header-inner .menu li:hover {
  color: #2ecba8;
}
.startHomeBlock header .header-inner .menu li:last-child {
  margin-right: 0;
}
.startHomeBlock header .buy-template-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 35px;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 100i;
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}
@media screen and (max-width: 400px) {
  .startHomeBlock header .buy-template-button {
    display: none;
  }
}
.startHomeBlock header .buy-template-button:hover {
  background-color: #fff;
  color: #000;
}
.startHomeBlock .wrapper-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.startHomeBlock .wrapper-info h1 {
  text-align: center;
  font-size: 44px;
  color: #fff;
  font-family: 'Roboto';
  margin: 0;
}
.startHomeBlock .wrapper-info h3 {
  text-align: center;
  font-size: 36px;
  color: #fff;
  font-family: 'Roboto';
}
.startHomeBlock .wrapper-info .demo {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px 35px;
  font-size: 18px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
}
.startHomeBlock .wrapper-info .demo:hover {
  background-color: #fff;
  color: #000;
}
.features {
  padding: 40px 15px;
  margin: 0 auto;
  background-color: #f8f8f8;
}
.features h2 {
  margin: 0;
  text-align: center;
  font-size: 55px;
  font-family: 'Roboto';
  font-weight: 300;
}
@media screen and (max-width: 1000px) {
  .features h2 {
    font-size: 30px;
  }
}
.features h2 .change-font {
  font-size: 64px;
  font-family: 'Indie Flower', cursive;
  display: inline-block;
  color: #119df7;
}
@media screen and (max-width: 1000px) {
  .features h2 .change-font {
    font-size: 35px;
  }
}
.features .featuresAdvantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.features .featuresAdvantages .advantage {
  width: 200px;
  text-align: center;
}
.features .featuresAdvantages .advantage i {
  color: #119df7;
  font-size: 100px;
}
@media screen and (max-width: 1000px) {
  .features .featuresAdvantages .advantage i {
    font-size: 70px;
  }
}
.features .featuresAdvantages .advantage h3 {
  margin: 0;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.features .featuresAdvantages .advantage p {
  margin-top: 10px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 200px;
}
.nicheTemplates {
  padding: 70px 5px 20px 5px;
  margin: 0 auto;
}
.nicheTemplates h1 {
  margin: 0;
  text-align: center;
  font-size: 55px;
  font-family: 'Roboto';
  font-weight: 300;
}
.nicheTemplates p {
  margin-top: 25px;
  text-align: center;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 100;
  color: #888;
}
.nicheTemplates .wrapper-templates {
  margin: 100px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nicheTemplates .wrapper-templates .template {
  max-width: 300px;
  height: auto;
  margin: 15px;
  position: relative;
  transition: opacity 0.4s;
  cursor: pointer;
  box-shadow: 20px 20px 40px 0 rgba(0,0,0,0.12);
}
.nicheTemplates .wrapper-templates .template .templateImage {
  opacity: 1;
  width: 100%;
  height: 100%;
}
.nicheTemplates .wrapper-templates .template .templateText {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #fff;
  color: #888;
  opacity: 0;
  transition: all 0.8s ease-in-out;
}
.nicheTemplates .wrapper-templates .template .templateText .templateTitle {
  font-family: 'Roboto';
  font-weight: bold;
}
.nicheTemplates .wrapper-templates .template:hover .templateImage {
  opacity: 0;
}
.nicheTemplates .wrapper-templates .template:hover .templateText {
  opacity: 1;
}
.preMadeLayouts {
  padding: 100px 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f8f8;
}
.preMadeLayouts h1 {
  margin: 0;
  font-size: 55px;
  font-family: 'Roboto';
  text-align: center;
  font-weight: 300;
}
.preMadeLayouts p {
  margin-top: 25px;
  font-size: 24px;
  font-family: 'Roboto';
  text-align: center;
  font-weight: 100;
  color: #888;
}
.preMadeLayouts .wrapper-pre-made-layouts {
  margin: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 950px) {
  .preMadeLayouts .wrapper-pre-made-layouts {
    justify-content: center;
  }
}
.preMadeLayouts .wrapper-pre-made-layouts .pre-made-layout {
  cursor: pointer;
}
.preMadeLayouts .wrapper-pre-made-layouts .pre-made-layout img {
  max-width: 230px;
  height: auto;
  margin: 30px 35px;
  transition: all 0.5s;
}
.preMadeLayouts .wrapper-pre-made-layouts .pre-made-layout img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 74px -15px rgba(0,0,0,0.3);
}
.preMadeLayouts .wrapper-pre-made-layouts .pre-made-layout div {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 19px;
}
.preMadeLayouts .uploadPreMadeLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preMadeLayouts .uploadPreMadeLayout .titleUploadPreMadeLayout {
  margin: 0;
  font-size: 40px;
  font-family: 'Roboto';
  text-align: center;
  font-weight: 300;
}
.preMadeLayouts .uploadPreMadeLayout form {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-top: 25px;
  height: 200px;
}
.preMadeLayouts .uploadPreMadeLayout form input[name="title"] {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-left: 18px;
  opacity: 0.6;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: left;
  color: rgba(86,86,86,0.6);
  outline: none;
}
.preMadeLayouts .uploadPreMadeLayout form .labelFileInput {
  font-family: 'Roboto';
  color: rgba(86,86,86,0.6);
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
}
.preMadeLayouts .uploadPreMadeLayout form .nameFile {
  font-family: 'Roboto';
  font-size: 16px;
  color: rgba(86,86,86,0.6);
}
.preMadeLayouts .uploadPreMadeLayout form .error {
  font-family: 'Roboto';
  font-size: 12px;
  color: #f00;
}
.preMadeLayouts .uploadPreMadeLayout form input[name="premadeImage"] {
  display: none;
}
.preMadeLayouts .uploadPreMadeLayout form button.send {
  background-color: #2dd1ac;
  border: 1px solid #2dd1ac;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-family: 'Roboto';
  cursor: pointer;
  outline: none;
  transition: all 0.5s;
  padding: 15px 30px;
  transition: all 0.5s;
}
.preMadeLayouts .uploadPreMadeLayout form button.send:hover {
  background-color: #24aa8c;
}
.advantages {
  padding: 110px 15px;
  margin: 0 auto;
}
.advantages h1 {
  text-align: center;
  margin: 0;
  font-size: 55px;
  font-family: 'Roboto';
  font-weight: 300;
}
.advantages .wrapper-monstroid-advantages {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 900px) {
  .advantages .wrapper-monstroid-advantages {
    flex-wrap: wrap;
  }
}
.advantages .wrapper-monstroid-advantages .monstroid-advantage {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.advantages .wrapper-monstroid-advantages .monstroid-advantage img {
  max-width: 100px;
  height: auto;
}
.advantages .wrapper-monstroid-advantages .monstroid-advantage h3 {
  text-align: center;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 300;
}
.advantages .wrapper-monstroid-advantages .monstroid-advantage p {
  font-family: 'Roboto';
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  color: #888;
}
.optimizedMobile {
  padding: 55px 15px;
  background-color: #2ed3ae;
}
.optimizedMobile .wrapper-optimized {
  display: flex;
  justify-content: space-between;
}
.optimizedMobile .wrapper-optimized img {
  max-width: 550px;
  max-height: 450px;
}
@media screen and (max-width: 900px) {
  .optimizedMobile .wrapper-optimized img {
    display: none;
  }
}
.optimizedMobile .wrapper-optimized .wrapper-infomation h1 {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 60px;
}
@media screen and (max-width: 570px) {
  .optimizedMobile .wrapper-optimized .wrapper-infomation h1 {
    text-align: center;
    font-size: 32px;
  }
}
.optimizedMobile .wrapper-optimized .wrapper-infomation .wrapper-info-wrapper {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 570px) {
  .optimizedMobile .wrapper-optimized .wrapper-infomation .wrapper-info-wrapper {
    margin-top: 60px;
  }
}
.optimizedMobile .wrapper-optimized .wrapper-infomation .wrapper-info-wrapper .info {
  display: flex;
}
.optimizedMobile .wrapper-optimized .wrapper-infomation .wrapper-info-wrapper .info i {
  font-size: 40px;
  color: #fff;
}
.optimizedMobile .wrapper-optimized .wrapper-infomation .wrapper-info-wrapper .info .wrapper-info-text {
  margin-left: 15px;
}
.optimizedMobile .wrapper-optimized .wrapper-infomation .wrapper-info-wrapper .info .wrapper-info-text h2 {
  margin: 0px;
  color: #fff;
  font-family: 'Roboto';
  font-weight: 300i;
  font-size: 25px;
}
.optimizedMobile .wrapper-optimized .wrapper-infomation .wrapper-info-wrapper .info .wrapper-info-text p {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 20px;
}
.technologes {
  padding: 150px 50px;
}
.technologes .wrapper-info-text {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .technologes .wrapper-info-text {
    flex-wrap: wrap;
  }
}
.technologes .wrapper-info-text .info-text .info {
  display: flex;
}
@media screen and (max-width: 900px) {
  .technologes .wrapper-info-text .info-text .info {
    flex-direction: row-reverse;
  }
}
.technologes .wrapper-info-text .info-text .info .wrap-text {
  margin-right: 15px;
}
.technologes .wrapper-info-text .info-text .info .wrap-text h3 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  margin: 0;
  text-align: right;
}
@media screen and (max-width: 900px) {
  .technologes .wrapper-info-text .info-text .info .wrap-text h3 {
    text-align: center;
  }
}
.technologes .wrapper-info-text .info-text .info .wrap-text p {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
  text-align: right;
  color: #888;
}
@media screen and (max-width: 900px) {
  .technologes .wrapper-info-text .info-text .info .wrap-text p {
    text-align: center;
  }
}
.technologes .wrapper-info-text .info-text .info i {
  color: #119df7;
  font-size: 35px;
}
.technologes .wrapper-info-text img {
  max-width: 500px;
  height: 250px;
}
@media screen and (max-width: 900px) {
  .technologes .wrapper-info-text img {
    display: none;
  }
}
.technologes .wrapper-info-text .info-text-2 .info-2 {
  display: flex;
}
.technologes .wrapper-info-text .info-text-2 .info-2 .wrap-text {
  margin-right: 15px;
}
.technologes .wrapper-info-text .info-text-2 .info-2 .wrap-text h3 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 25px;
  margin: 0;
  text-align: left;
}
@media screen and (max-width: 900px) {
  .technologes .wrapper-info-text .info-text-2 .info-2 .wrap-text h3 {
    text-align: center;
  }
}
.technologes .wrapper-info-text .info-text-2 .info-2 .wrap-text p {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 100;
  text-align: left;
  color: #888;
}
@media screen and (max-width: 900px) {
  .technologes .wrapper-info-text .info-text-2 .info-2 .wrap-text p {
    text-align: center;
  }
}
.technologes .wrapper-info-text .info-text-2 .info-2 i {
  color: #119df7;
  font-size: 35px;
}
.buyMonstroid {
  padding: 80px 60px;
  background-color: #f8f8f8;
  display: flex;
}
@media screen and (max-width: 900px) {
  .buyMonstroid img {
    display: none;
  }
}
.buyMonstroid .wrapper-text-buy {
  margin-top: 100px;
  margin-left: 50px;
}
@media screen and (max-width: 900px) {
  .buyMonstroid .wrapper-text-buy {
    margin: 0;
  }
}
.buyMonstroid .wrapper-text-buy h3 {
  font-family: 'Roboto';
  text-align: center;
  font-size: 40px;
  font-weight: 300;
}
.buyMonstroid .wrapper-text-buy p {
  font-family: 'Roboto';
  text-align: center;
  font-size: 20px;
  font-weight: 100i;
}
.keyFeatures {
  padding: 150px 25px;
}
.keyFeatures h1 {
  margin: 0;
  font-family: 'Roboto';
  font-size: 45px;
  font-weight: 300;
  text-align: center;
}
.keyFeatures .wrapper-key-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .keyFeatures .wrapper-key-features {
    justify-content: center;
  }
}
.keyFeatures .wrapper-key-features .feature {
  margin-top: 60px;
  width: 294px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.keyFeatures .wrapper-key-features .feature img {
  max-width: 64px;
  max-height: 64px;
}
.keyFeatures .wrapper-key-features .feature p {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 300;
  margin-left: 15px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  position: relative;
}
