.features
    padding: 40px 15px
    margin: 0 auto;
    background-color: #f8f8f8
    h2
        margin 0
        text-align: center
        font-size: 55px; 
        font-family: 'Roboto'
        font-weight: 300
        @media screen and (max-width 1000px)
            font-size: 30px       
        .change-font
            font-size: 64px
            font-family: 'Indie Flower', cursive;
            display: inline-block
            color: #119df7
            @media screen and (max-width 1000px)
                font-size: 35px  
    .featuresAdvantages
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        .advantage
            width: 200px
            text-align: center
            i 
                color: #119df7
                font-size: 100px
                @media screen and (max-width 1000px)
                    font-size: 70px
            h3
                margin 0
                font-family: 'Roboto'
                font-size: 40px;
                font-weight: 700; 
                text-align: center   
            p
                margin-top: 10px;
                text-align: center
                font-family: 'Roboto'
                font-size: 20px
                font-weight: 200px